/* reset&common */
body,h1,h2,h3,p,ul,li {
	margin: 0;
	padding: 0;
}

img {
	border: none;
	width: 100%;
	vertical-align: bottom;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body {
	color: #666;
	background-color: #f7f7f7;
  font-family:cursive;
}

header,footer {
	background-color: #666;
	/* background-color: #59514c; */
}
header a{
	color:#dddddd;
}
header a:hover,small{
	color:#f7f7f7;
	
}

/* reset&common */


#toTop {
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 6%;
	right: 6%;
	position: fixed;
	z-index: 2;
}

.fas{
	color: #cccccc;
}

/*drawer↓*/
#drawer {
    position: fixed; z-index: 20;
top: -124px;
background-color:rgba(1,1,1,0.8);
height:124px;
width: 100%;
transition: transform 0.3s;
}
#drawer li{
line-height: 40px;
font-size: 20px;
padding-left: 40px;
border-bottom: 1px #f7f7f7 solid;
}
#drawer li a{
color: #f7f7f7;
display: block;
}

#drawer li:hover{
	animation: flash 1s;
}
@keyframes flash {
	0%{ background:rgba(150, 150, 150, 0.8);}
	10%{ background: rgba(220,220,220,0.8);}
	100%{background: rgba(150,150,150,0.8);}
}

.show {
transform: translate3d(0,204px,0);
}
/*drawer↑*/


/*header*/
header {
	height: 80px;
	width: 100%;
	/* background-color: #d16ba5; */
	position: fixed; z-index: 20;
	overflow: hidden;
}

header a {
	display: block;
	font-size: 20px;
}

.hdrLogo img{
	width: 60px;
	margin-left: 7%;
  margin-top: 10px;
	float: left;
	border-radius: 50%;
}

.headerT{
	float:left;
	color: #f7f7f7;
	font-weight: bold;
	font-size: 10px;
	margin-top: 20px;
	margin-left:4%;
}
.headerT p:nth-child(2){
	margin-left: 14px;
}
.headerT p:nth-child(3){
	margin-left: 40px;
}

#navToggle {
	float:right;
	padding-top: 36px;
	margin-right: 7%;
  width: 24px;
  height:16px;
}

/*三x*/
input {display: none;}
#navToggle {
	float:right;
  width: 40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navToggle span{
    position: relative;
}
  input:checked+#navToggle span{
      visibility: hidden;
      }
	  #navToggle span,#navToggle span::before,
	  #navToggle span::after {
  width: 20px;
  height: 2px;
  background: #f7f7f7;
}
#navToggle span::before,#navToggle span::after {
    content: "";
    transition: .3s;
  }
  #navToggle span::after{
    position: absolute;
    top:8px;
  }
  #navToggle span::before{
   position: absolute;
    top:-8px;
  }
input:checked+#navToggle span::before{
        transform: rotate(45deg);
    visibility: visible;
        top:0;
      }
input:checked+#navToggle span::after{
        transform: rotate(135deg);
        visibility: visible;
        top:0;
      }
/*三x*/


.navWide {
	display: none;
}

/*header*/
.mv {
	position: relative;
    width: 100%;
    margin: 0 auto;
}
.mv h1{
	z-index: 8;
	position: absolute;
	font-size: 3vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-shadow: 1px 1px 0 #f7f7f7,
               -1px 1px 0 #f7f7f7,
               1px -1px 0 #f7f7f7,
               -1px -1px 0 #f7f7f7;
  text-shadow: 1px 1px 1px #f7f7f7,
               -1px 1px 1px #f7f7f7,
               1px -1px 1px #f7f7f7,
               -1px -1px 1px #f7f7f7;
}

main {
	padding-top: 80px;
}

.image {
	margin-top: 6%;
	margin-bottom: 6%;
}


article h1,article h2{
	font-size: 3.8vw;
}

main p{
font-size: 2.8vw;
}

.fa-twitter-square {
	color:#666;
}
.fa-twitter-square:hover {
	color: #cccccc;
}

tr,th,td,time{
	font-size: 1.8vw;
}
table{
	padding:5%;
}

.tc{
	font-size: 1.8vw;
	padding-left: 2%;
}

.red{
	color: red;
}
.under{
	border-bottom: #666 solid 1px;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}


article {
	padding-top: 2%;
}

.image .landr{
	float:right;
	width:50%;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
}
.image .landl{
	float:left;
	width:50%;
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
}
.image .verticalr{
	float: right;
	width:40%;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
}
.image .verticall{
	float:left;
	width:40%;
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
}

/* .wrapper aside{
	display: none;
} */

article{
    width: 80%;
    margin-right:auto;
	margin-left: auto;
}

.theme aside{
	overflow: scroll;
}

.wrapper{
	overflow: hidden;
}

.wrapper div{
	float:left;
	width: 60%;
	padding-right: 3%;
}
.wrapper aside{
	display: block;
	float:right;
	width: 40%;
}


.link h2{
	text-align: center;
	font-size: 2.8vw;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* align-items: flex-start;
	flex-flow: row wrap; */
}
.textAnchor li{
	position: relative;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
	transition: all 0.3s;
}
.textAnchor li:hover{
	opacity: 0.7;
}
.textAnchor li img{
	width: 250px;
}
.textAnchor li a:last-child{
	position:absolute;
	bottom: 0;
	left: 0;
	color:#f7f7f7;
	font-size: 15px;
	background:rgba(0,0,0,.5);
	width: 250px;
	line-height: 25px;
	height: 50px;
	padding-right: 5%;
	padding-left: 5%;
	overflow: hidden;
	word-break: break-all;
}


/*footer*/
footer {
	/* background-color: #d16ba5; */
	text-align: center;
	width: 100%;
	height: 100px;
}


footer img {
	width: 60px;
	display: inline-block;
      margin-top: 10px;
	  border-radius: 50%;
}

footer small {
	display: block;
	padding-top: 5px;
}
/*footer*/


/*ここから@media 480より上*/
@media screen and (min-width: 480px) {
    
	.hdrLogo {
      width: 180px;
	    padding-top: 0;
	    margin-left: 4%;
	}
	
	#navToggle {
		display: none;
	}
	#drawer{
		display: none;
	}
	.navWide {
		display: block;
	}
		.navWide ul {
			float: right;
			margin-right: 4%;
			margin-top: 22px;
			text-align: center;
		}
		.navWide li {
			width: 72px;
			height: 38px;
			line-height: 38px;
			color: #f7f7f7;
			border-radius: 8px;
			margin-left: 10px;
			float: left;
		}
		.navWide a{
			font-size: 22px;
			font-weight: bold;
		display: inline-block;
		background-image:linear-gradient(currentColor,currentColor);
		background-size: 0 1px;
		background-position: left bottom;
		background-repeat: no-repeat;
		transition:background-size .3s;
		}
		.navWide a:hover {
		background-size: 100% 2px;
		}
		.headerT{
			margin-top: 10px;;
		}
		.headerT p {
			font-size: 12px;
		}
	
.mv {
    width: 80%;
}


/* .image .land{
	float:right;
	width:40%;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
}
.image .vertical{
	float: right;
	width:35%;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
} */



}/*ここまで@media 480*/



/*ここから@media 768より上*/
@media screen and (min-width: 768px) {

	.headerT{
		margin-top: 6px;;
	}
	.headerT p {
		font-size: 15px;
	}
	.headerT p:nth-child(2){
		margin-left: 28px;
	}
	.headerT p:nth-child(3){
		margin-left: 90px;
	}

	article {
		width: 60%;
	}
	.mv {
		width: 60%;
	}
	.mv h1{
		font-size: 2.2vw;
	}

	main h1{
		font-size: 2.4vw;
	}
	main p,main h2,.tc{
	font-size: 1.4vw;
	}

	.link h2{
		font-size: 2.2vw;
	}


}
/*ここまで@media 768*/
