@charset "utf-8";

/* reset*/
body,h1,h2,h3,p,ul,li {
	margin: 0;
	padding: 0;
}

img {
	border: none;
	width: 100%;
	min-width: 100%;
	vertical-align: bottom;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body {
	color: #666;
	background-color: #f7f7f7;
}

/* reset*/


#change{
	margin-top: 60vh;
	padding: 1%;
	position: fixed;
	border-radius: 14px;
	right: 4%;
	z-index: 10;
	background: rgba(164, 154, 248, 0.5);
	cursor: pointer;
	width: 140px;
	height: 160px;
	color: #fff;
}

#change p:hover{
	transform: rotate(5deg);
	color: rgb(255, 145, 0);
	transition: all.2s;
}

#changebc{
	display: none;
}


.fv{
	height: 80vh;
	position: relative;
}

.no{
	display: flex;
}

.no section{
	text-align: center;
	background-color: #f7f7f7;
	padding-top: 20%;
	margin: 0 1%;
	width: 80%;
	border: 1px solid #666;

}
.no aside{
	background-color: #f7f7f7;
	padding-top: 20%;
	padding-left: 5%;
	margin-right:1%;
	width: 20%;
	border: 1px solid #666;
	cursor: pointer;
}

.nonef,.deep{
	font-size: 1.5rem;
}


@media screen and (max-width: 780px) {
	.no section{
		padding-top: 25%;
		width: 100%;
	}
	.no aside{
		display:none;
	}
	}
	

.sl{
	background-color:#555;
	color: #f7f7f7;
	display: none;

}
.no h1,.sl h1,.mod h1,.sim h1,.spl h1{
	writing-mode: vertical-rl;
	z-index: 2;
	letter-spacing: 1em;
	position: absolute;
	top: 2%;
	left: 0.8%;
}
.slideshow{
	width:100%;
	height:100%;
}


.mod{
	background-color:slategrey;
	color: #f7f7f7;
	display: none;
}
.sim{
	background-color: cadetblue;
	color: #f7f7f7;
	display: none;
}

.splitbox{
	background-color:rosybrown;
	color: #f7f7f7;
	display: none;
}
.splitleft{
	display: none;
	position: sticky;
	position: -webkit-sticky;/*Safari用*/
	top:0;
	width:50%;
	height:100vh;
	background-image: url("ideaimg/life-863166_1920.jpg");
    background-size:cover;
    transition: all 1s;
}
.flexforsplit{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.hiddenm{
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #333;
	text-shadow: #Fff 1px 0 10px;
	font-family: cursive;
	font-size: 2.5rem;
}


.header{
	height: 45px;
	line-height: 45px;
	margin: .5%;
	display: flex;
	justify-content: center;


}
.header span{
	text-align: center;
	width: 25%;
	margin-left:2px;
	margin-right:2px;
	border-radius: 2px;
	background-color: #b5f814;;
}

.surround {
	position: relative;
}

.surround::before,
.surround::after,
.surround2::before,
.surround2::after{
	content: "";
	position:absolute;
	background-color: #666;
}
.surround::before,
.surround::after{
	width: 0;
	height: 2px;
	transition: all .2s linear;
}

.surround2::before,
.surround2::after{
	width: 2px;
	height: 0;
	transition: all .1s linear;
}

.surround::before{
	right: 0;
	bottom: 0;
}
.surround::after{
	left: 0;
	top: 0;
}
.surround2::before{
	left: 0;
	bottom: 0;
}
.surround2::after{
	right: 0;
	top: 0;
}

.surround:hover::before,
.surround:hover::after{
	width:100%;
}

.surround:hover .surround2::before,
.surround:hover .surround2::after{
	height: 100%;
}
.surround::after{
	transition-delay: 0s;
}
.surround::before{
	transition-delay: .3s;
}
.surround2::after{
	transition-delay: .2s;
}
.surround2::before{
	transition-delay: .5s;
}

.ripples{
	position: relative;
	overflow: hidden;
}

.ripples:hover::after{
	transition: all 0.2s;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
    border: 1px solid rgba(140, 201, 0, 0.685);
	background: rgba(179, 255, 0, 0.685);
    width: 2px;
    height: 2px;
    border-radius: 50%;
  opacity:1;
    animation:1s circleanime forwards;
}


@keyframes circleanime{
  0%{
    transform: scale(0);
  }
  100%{
    transform:scale(120);
    opacity: 0;
  }
}

.drawers{
	position: relative;
}

.drawers li{
	background-color: #666;
	color: aqua;
	height: 45px;
	line-height: 45px;
	padding:1%;
	border-radius: 2px;
	border: #f7f7f7 1px solid;
	transition: all 0.8s;
	float:left;
	width: 50%;
}

.drawers ul{
	width: 100%;
	position: absolute;
	left: 0%;
	top: 45px;
	z-index: 2;
	display: none;
}

.drawers:hover.drawers ul{
	display: inline-block;
}
.drawers li:hover{
	background-color: rgb(179, 179, 179);
}

.rotate{
	display: inline-block;
	width: 20px !important;
	line-height: 20px;
}

.rotation:hover .rotate{
  animation: rotate .6s infinite;
}

@keyframes rotate{
	100%{
		transform: rotate(360deg);
	}
}

.underline{
	position: relative;
}
.underline::after{
	content: '';
	position: absolute;
	bottom: 20%;
	left:25%;
	width: 50%;
	height: 2px;
	background:hsl(29, 100%, 55%);
	transition: all .3s;
	transform: scale(0,1);
	transform-origin: center;
}
.underline:hover::after{
	transform: scale(1,1);
}

.run{
	position: relative;
	overflow: hidden;
}
.run::before{
	content:"";
	position: absolute;
	top:0;
	left: -75%;
	width: 50%;
	height: 100%;
	background: linear-gradient(to right,
	rgba(255,255,255,.3)0%,
	rgba(255,255,255,.9)100%);
}
.run:hover::before{
	animation:run .7s;
}
@keyframes run {
	100%{
		left: 125%;
	}
}

.shake:hover{
	animation: shake 1.2s;
}

@keyframes shake {
	25%{
		transform: rotate(4deg);
	}
	75%{
		transform: rotate(-4deg);
	}
}

.luminous:hover{
	animation: luminous .3s;
}

@keyframes luminous{
	0%{
		opacity: 1;
	}
	25%{
		opacity: .2;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: .2;
	}
	100%{
		opacity: 1;
	}
}

#news{
	position: relative;
}

.subContents {
	width: 40%;
	margin-top: 5%;
	margin-left: 5%;
	background-color:rgba(246,246,246,.5);
	border-radius: 5px;
	padding: 1%;
	color: rgb(50, 50, 50);
}
.subContents h2{
	font-size: 1.2rem;
}

.subContents dl {
	height: 200px;
	overflow: scroll;
	border: solid 1px rgb(50, 50, 50);
}
.subContents dt {
	margin-top: 2%;
	float: left;
    font-size: 14px;
	padding-left: 3%;
}
.subContents dd {
	margin-top: 2%;
	padding-left: 100px;
	font-size: 14px;
}
.more {
	text-align: right;
	margin: 1%;
}
.more a {
	background-color: black;
	border-radius: 2px;
	color: white;
	padding: 5px;
}

.or{
	font-size: 180px;
	font-weight: bold;
	color: #a8a8a8;
	opacity: .1;
	position: absolute;
	top: 5%;
	right: 38%;
	z-index: 2;
	text-shadow: 4px 2px #585858;
}

.concept{
	position: absolute;
	top: 5%;
	right: 5%;
	max-width: 50%;
	/* background-color:rgba(246,246,246,.5); */
	border-radius: 5px;
	padding: 2%;
	color: #cf9f00;
}
.concept p{
	margin-top: 3%;
	margin-bottom: 3%;
}
.bgimg{
	background-image: url(ideaimg/venice-3118803_1920.jpg);
	border-radius: 50%;
	width: 200px;
	height: 200px;
	z-index: -1;
	position: absolute;
	top:5%;
	right: 7%;
}

.rollAnime.roll span {
    transition-property: opacity,transform;
    transform: rotateY(360deg);
    transition: all .8s cubic-bezier(.77,0,.175,1);
    transition-timing-function: cubic-bezier(.77,0,.175,1);
    display: inline-block;
}

@media screen and (max-width:780px){
	.subContents dt {
		float: none;
		font-weight: bold;
	}
	.subContents dd {
		padding-left:0;
		margin-left: 3%;
		padding-bottom: 8%;
	}
	.concept h2,.concept p{
		font-size: smaller;
	}
	.or{
		display: none;
	}
}
@media screen and (max-width:375px){
	.subContents dl {
		height: 165px;
	}
	.concept{
		position: absolute;
		top: 10%;
		right: 5%;
		max-width: 50%;
}
}


.controller{
	position: absolute;
	bottom: 5%;
	margin-left: 2%;
	width: 350px;
	max-width: 100%;
	/* background-color: red; */
	text-align: center;
}
.button{
	color: #fff;
	display: inline-block;
	width: 80px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding: 2%;
	margin: 2%;
	cursor: pointer;
	font-weight: bold;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
	text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

@media screen and (max-width:600px){
	.controller{
	bottom: 0;
	margin-left: 0;
	}
	.button{
		padding: 2%;
		margin: 1%;
	}
}


.none{
	background-color:rgb(110, 66, 66);
	color: rgb(110, 66, 66);
	border-bottom: solid 2px rgb(73, 33, 33);
}
.none:active{
	border-bottom: solid 2px rgb(110, 66, 66);
	box-shadow: none;
	text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}
.anime{
	background-color:rgb(241, 113, 184);
	color: rgb(241, 113, 184);
	border-bottom: solid 2px rgb(165, 44, 111);
}
.anime:active{
	border-bottom: solid 2px rgb(241, 113, 184);
	box-shadow: none;
	text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}
.movie1{
	background-color:rgb(45, 218, 174);
	color: rgb(45, 218, 174);
	border-bottom: solid 2px rgb(49, 109, 94);
}
.movie1:active{
	border-bottom: solid 2px rgb(45, 218, 174);
	box-shadow: none;
	text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}
.movie2{
	background-color:rgb(90, 217, 226);
	color: rgb(90, 217, 226);
	border-bottom: solid 2px rgb(48, 122, 128);
}
.movie2:active{
	border-bottom: solid 2px rgb(90, 217, 226);
	box-shadow: none;
	text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}
.movie3{
	background-color:rgb(228, 224, 28);
	color: rgb(228, 224, 28);
	border-bottom: solid 2px rgb(141, 139, 33);
}
.movie3:active{
	border-bottom: solid 2px rgb(228, 224, 28);
	box-shadow: none;
	text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}
.movie4{
	background-color:rgb(230, 56, 230);
	color: rgb(230, 56, 230);
	border-bottom: solid 2px rgb(119, 51, 119);
}
.movie4:active{
	border-bottom: solid 2px rgb(230, 56, 230);
	box-shadow: none;
	text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}


#news,#items{
	height:60vh;
}
#info{
	position: relative;
	height:60vh;
	background-color:#eeeeee;
	background-size: cover;
}
.infofix{
	position: absolute;
	top: 12%;
	right: 8%;
	z-index: 3;
}
#info p{
	font-size: 1.2rem;
	padding-top: 14%;
	color: #333;
	text-shadow: #Fff 1px 0 8px;
	font-weight: bold;
}
.slidetext{
	overflow: hidden;
	opacity: 0;
	display: inline-block;
}
.slidetextinner{
	display: inline-block;
}

.sar{
	animation-name: x100;
	animation-duration: .8s;
	animation-fill-mode: forwards;
	opacity: 0;
}
.sal{
	animation-name: x-100;
	animation-duration: .8s;
	animation-fill-mode: forwards;
	opacity: 0;
}
	

@keyframes x-100{
	from{
		transform: translateX(100%);
	    opacity: 0;
	}
	to{
		transform:translateX(0);
		opacity: 1;
	}
}
@keyframes x100{
	from{
		transform: translateX(-100%);
	    opacity: 0;
	}
	to{
		transform:translateX(0);
		opacity: 1;
	}
}

.extend{
	/* animation-name:extend; */
	animation-duration: 1s;
	animation-fill-mode: forwards;
	position: relative;
	overflow: hidden;
	/* opacity: 0; */
}
.extend::before{
	animation-name:extend;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	content:"";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:hotpink;
}
@keyframes extend{
	0%{
		transform-origin:left;
		transform: scaleX(0);
	}
	50%{
		transform-origin:left;
		transform: scaleX(1);
	}
	100%{
		transform-origin:left;
		transform: scaleX(0);
	}
}
.bappear{
	animation-name:appeardelay;
	animation-duration: 1s;
	animation-delay: .6s;
	animation-fill-mode: forwards;
}
@keyframes appeardelay{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.bappeartrigger{
	opacity: 0;
}


#info .imgl{
	position: absolute;
	border-radius: 5px;
	left: 8%;
	top: 8%;
	width: 250px;
	max-width: 100%;
	height: 250px;
	background-image: url(ideaimg/venice-3118803_1920.jpg);
	background-position: center;
	background-attachment: fixed;
	z-index: 2;
}

#info .imgr{
	position: absolute;
	border-radius: 5px;
	left: 2%;
	bottom: 12%;
	width: 250px;
	max-width: 100%;
	height: 250px;
	background-image: url(ideaimg/venice-3118803_1920.jpg);
	background-position: center;
	background-attachment: fixed;

}

#items{
	position: relative;
}
#items h2{
	margin: 4%;
}
.fluid {
	width:40vh;
	height: 40vh;
	background:#fff100;
	animation: fluid 20s ease 0s infinite;
	position: absolute;
	top:-15%;
	left: -8%;
	z-index: -1;
  }
  @keyframes fluid {  
    
	0%, 100% {
		border-radius: 69% 39% 54% 46%/55% 48% 52% 42%;
		transform: scale(0.9);
	}
	14% {
		border-radius: 40% 60% 51% 42%/49% 63% 40% 51%;
		transform: scale(1);
	}
	28% {
		border-radius: 59% 49% 34% 62%/42% 71% 39% 51%;
		transform: scale(0.8);
	}
	42% {
		border-radius: 61% 39% 55% 45%/61% 38% 62% 36%;
		transform: scale(1);
	}
	56% {
		border-radius: 61% 39% 62% 38%/65% 43% 52% 39%;
		transform: scale(0.9);
	}
	70% {
		border-radius: 50% 50% 34% 69%/56% 68% 37% 44%;
		transform: scale(1.1);
	}
	84% {
		border-radius: 44% 54% 50% 51%/38% 61% 39% 65%;
		transform: scale(1);
	}
	}



/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align:center;
	color:#fff;
}
/* Loading画像中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
}
/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #333;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}
/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}


#video-area1,#video-area2,#video-area3,#video-area4{
	display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}
#video1,#video2,#video3,#video4 {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}


/* html,body{
	height: 100%;
  } */

#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	top: 0;
    right:0;
    left:0;
    bottom:0;
	background-color:#f3f3f3;/*背景色*/
  }